.fade-in {
    opacity: 0;
    transition: opacity 1000ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-50%);
    transition: transform 500ms ease-in;
}

.from-right {
    transform: translateX(50%);
    transition: transform 500ms ease-in;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0%);
}

body {
    overflow-x: hidden;
}

@media screen and (min-width: 992px) {

    #design1.circle {
        position: absolute;
        left: 7vw;
        top: 34vh;
        width: 2vw;
        height: 2vw;
        border-radius: 50%;
        background: #FFBB55;
        border: 2px solid #000000;
        z-index: 11;
    }

    #design2.circle {
        position: absolute;
        left: 4vw;
        top: 34vh;
        width: 2vw;
        height: 2vw;
        border-radius: 50%;
        background: #FFBB55;
        border: 2px solid #000000;
        z-index: 11;
    }

    #design3.rectangle {
        position: absolute;
        width: 6.53vw;
        height: 0.3vh;
        left: -1vw;
        top: 7vh;

        background: #FFBB55;
        border: 2px solid #000000;
        transform: rotate(30deg);

    }

    #design4.rectangle {
        position: absolute;
        width: 0.3vh;
        height: 0vh;
        left: 4.95vw;
        top: 0vh;

        background: #FFBB55;
        border: 2px solid #000000;
        z-index: 10;
        transition: height 1000ms ease-in;
    }

    #design4.rectangle.appear {
        position: absolute;
        width: 0.3vh;
        height: 89vh;
        left: 4.95vw;
        top: 11vh;

        background: #FFBB55;
        border: 2px solid #000000;
        z-index: 10;
    }

    #design5.rectangle {
        position: absolute;
        width: 0.3vh;
        height: 0vh;
        left: 4.95vw;
        top: 0vh;

        background: #FFBB55;
        border: 2px solid #000000;
        z-index: 10;
        transition: height 1000ms ease-in;
    }

    #design5.rectangle.appear {
        position: absolute;
        width: 0.3vh;
        height: 100vh;
        left: 4.95vw;
        top: 0vh;

        background: #FFBB55;
        border: 2px solid #000000;
        z-index: 10;
    }

    #design6.rectangle {
        position: absolute;
        width: 0.3vh;
        height: 23vh;
        left: 7.95vw;
        top: 25vh;

        background: #FFBB55;
        border: 2px solid #000000;
        z-index: 10;
    }

    #design7.rectangle {
        position: absolute;
        width: 3.4vw;
        height: 0.3vh;
        left: 4.9vw;
        top: 23vh;

        background: #FFBB55;
        border: 2px solid #000000;
        transform: rotate(30deg);
        z-index: 9;
    }

    #design8.rectangle {
        position: absolute;
        width: 3.4vw;
        height: 0.3vh;
        left: 4.9vw;
        top: 49.5vh;

        background: #FFBB55;
        border: 2px solid #000000;
        transform: rotate(-30deg);
        z-index: 9;
    }

    #design9 {
        position: absolute;
        left: -4.9vw;
        top: -5vw;
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        background: #FFBB55;
        border: 2px solid #000000;
        z-index: 10;
    }

    #design10.circle {
        position: absolute;
        left: -5.15vw;
        top: -5.23vw;
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        background: #1A0C00;
        border: 2px solid #000000;
        z-index: 10;
    }

}

#navbar.rectangle {
    position: absolute;
    width: 100vw;
    height: 7vh;
    left: 0px;
    top: 0px;

    background: rgba(217, 217, 217, 0.25);
}

#logo {
    position: absolute;
    width: 5.5vh;
    height: 4.5vh;
    left: 10.5vw;
    top: 1.2vh;

}

#hmfyadText {
    position: absolute;
    width: 45vmax;
    height: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 2vmax;
    animation: textHmfyad 1s;
}

@keyframes textHmfyad {
    0% {
        left: -170vw;
    }

    100% {
        left: 2vmax;
    }
}

@keyframes textHmfyad1 {
    0% {
        left: -170vw;
    }

    100% {
        top: 40%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 80vmin;
        height: auto;
    }
}

@media screen and (max-width: 992px) {
    #hmfyadText {
        top: 40%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 80vmin;
        height: auto;
        animation: textHmfyad1 1s;
    }
}

#services {
    position: absolute;
    text-decoration: none;
    width: auto;
    height: auto;
    z-index: 5;
    left: 21vw;
    top: 2vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vmax;
    line-height: 19px;


    color: #FFBB55;



}

#aboutUs {
    position: absolute;
    text-decoration: none;
    width: auto;
    height: auto;
    z-index: 5;
    left: 28vw;
    top: 2vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vmax;
    line-height: 19px;

    color: #FFBB55;



}

#contactUs {
    position: absolute;
    text-decoration: none;
    width: auto;
    height: auto;
    z-index: 5;
    left: 35vw;
    top: 2vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vmax;
    line-height: 19px;

    color: #FFBB55;



}

#login {
    position: absolute;
    text-decoration: none;
    width: auto;
    height: auto;
    z-index: 5;
    left: 77vw;
    top: 2vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vmax;
    line-height: 19px;

    color: #FFBB55;



}

#signUpBox1.rectangle {
    box-sizing: border-box;
    position: absolute;
    width: 17vmin;
    height: 3.7vh;
    left: 64vw;
    top: 1.9vmin;
    background: #FFBB55;
    border: 1px solid #000000;
    border-radius: 10px;
    text-decoration: none;
    list-style: none;
}

#signUpBox.rectangle {
    box-sizing: border-box;

    position: absolute;
    width: 12vmin;
    height: 3.7vh;
    left: 83vw;
    top: 1.9vmin;

    background: #FFBB55;
    border: 1px solid #000000;
    border-radius: 10px;
}

#admin {
    position: absolute;
    text-decoration: none;
    width: auto;
    height: auto;
    z-index: 5;
    left: 1vw;
    top: 0.5vmin;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vmax;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

#signUp {
    position: absolute;
    text-decoration: none;
    width: auto;
    height: auto;
    z-index: 5;
    left: 1vw;
    top: 0.5vmin;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vmax;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

@media screen and (max-width: 992px) {

    #services,
    #aboutUs,
    #contactUs,
    #login,
    #signUp {
        font-size: 0px;
    }

    #signUpBox.rectangle {
        display: none;
    }
}



#bcimg.rectangle {
    z-index: -10;
    position: absolute;
    top: -1vh;
    left: -1vw;
    width: 101vw;
    height: 101vh;
    filter: blur(1px);
}

#thali.ellipse {
    position: absolute;
    width: 70.81vh;
    height: 70.81vh;
    left: 70vw;
    top: 25vh;
    overflow: hidden;
    z-index: -5;
    animation: start1thali 1s;
}

@keyframes start1thali {
    0% {
        left: 170vw;
    }

    100% {
        left: 70vw;
    }
}

@media screen and (max-width: 992px) {
    #thali.ellipse {
        width: 0vh;
        height: 0vh;
    }
}


#chilliPlate.ellipse {
    position: absolute;
    width: 10vmax;
    height: 10vmax;
    left: 95vmax;
    top: 5vmin;
    overflow: hidden;
    animation: start1chilli 1s;
}

@keyframes start1chilli {
    0% {
        left: 120vmax;
    }

    100% {
        left: 95vmax;
    }
}

#hmfayd {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 0vh;
    overflow: hidden;
    /* border: 2px; */

}

#upArrow {
    display: none;
    position: absolute;
    width: 3vw;
    height: auto;
    top: 90vh;
    left: 50%;
}

@media screen and (max-width: 992px) {
    #upArrow {
        display: inline;
        position: absolute;
        width: 3vw;
        height: auto;
        top: 90vh;
        left: 50%;
        animation: upArr 1s;
    }
}

@keyframes upArr {
    0% {
        top: 110vh;
    }

    100% {
        top: 90vh;
    }
}

#menu {
    width: 0px;
    height: 0px;
}

@media screen and (max-width: 992px) {
    #menu {
        position: absolute;
        width: 7vh;
        height: auto;
        left: 85vw;
        top: -2vh;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 5;
    background: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 80vw;
    top: 5vh;
    width: 20vw;
    background-color: #f9f9f9;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: #643e3e;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    display: none;

}

#homepage2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vh;
    top: 100vh;
    overflow: hidden;
}

#background2Rectangle.rectangle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vh;
    top: 0vh;
    background-image: linear-gradient(180deg, rgba(57, 21, 0, 0) 0%, rgba(36, 15, 0, 0.6875) 48.96%, #1A0C00 100%);
}

#background2.rectangle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vh;
    top: 0vh;
    filter: blur(1px);
}

#ed {
    position: absolute;
    width: 50vw;
    height: 10vh;
    left: 10vmax;
    top: 30vmin;

    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 6vw;
    line-height: 96px;

    color: #FFBB55;

}

@media screen and (max-width: 992px) {
    #ed {
        top: 50%;
        left: 0%;
        /* -ms-transform: translateY(-50%);
        transform: translateY(-50%); */
        /* transform: translateX(50%); */
        text-align: center;
        width: 100vw;
        font-size: 10vw;
    }
}

#edImg {
    position: absolute;
    left: 70vw;
    top: 25vh;
}

@media screen and (max-width: 992px) {
    #edImg {
        position: absolute;
        left: 32vw;
        top: unset;
        bottom: 50vh;
        width: 40vw;
        height: auto;
    }
}

#yceofd {
    position: absolute;
    width: 40vmax;
    height: 93px;
    left: 10vmax;
    top: 48vmin;

    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 4vw;

    color: #FFBB55;
}

@media screen and (max-width: 992px) {
    #yceofd {
        position: absolute;
        top: 65vh;
        left: 0vw;
        width: 100vw;
        text-align: center;
        font-size: 5vw;
        line-height: 4.5vw;
    }
}

#homepage3 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 200vh;
    background-color: #1A0C00;
    overflow: hidden;
}

#plate {
    position: absolute;
    width: auto;
    height: 90vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chapati {
    position: absolute;
    width: 20vw;
    height: auto;
    right: 0vw;

}

@media screen and (max-width: 1102px) {
    #chapati {
        display: none;
    }
}

#homepage4 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 300vh;
    background-color: #1A0C00;
    overflow: hidden;
}

#salad {
    position: absolute;
    width: 40vw;
    right: 0vw;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 992px) {
    #salad {
        position: absolute;
        width: 60vw;
        right: 0vw;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#nhf {
    position: absolute;
    width: 50vw;
    height: 10vh;
    left: 10vmax;
    top: 30vmin;

    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 6vw;
    line-height: 96px;

    color: #FFBB55;
}

@media screen and (max-width: 992px) {
    #nhf {
        top: 50%;
        left: 0%;
        /* -ms-transform: translateY(-50%);
        transform: translateY(-50%); */
        /* transform: translateX(50%); */
        text-align: center;
        width: 100vw;
        font-size: 10vw;
    }
}

#gcmhatyn {
    position: absolute;
    width: 40vmax;
    height: 93px;
    left: 10vmax;
    top: 48vmin;

    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 4vw;

    color: #FFBB55;
}

@media screen and (max-width: 992px) {
    #gcmhatyn {
        position: absolute;
        top: 65vh;
        left: 0vw;
        width: 100vw;
        text-align: center;
        font-size: 5vw;
        line-height: 4.5vw;
    }
}

#homepage5 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 400vh;
    background-color: #1A0C00;
    overflow: hidden;
}

#tiff {
    position: absolute;
    width: 30vw;
    right: 0vw;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 992px) {
    #tiff {
        position: absolute;
        width: 40vw;
        right: 0vw;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#hf {
    position: absolute;
    width: 50vw;
    height: 10vh;
    left: 10vmax;
    top: 30vmin;

    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 6vw;
    line-height: 96px;

    color: #FFBB55;
}

@media screen and (max-width: 992px) {
    #hf {
        top: 50%;
        left: 0%;
        text-align: center;
        width: 100vw;
        font-size: 10vw;
    }
}

#cfhftomwlap {
    position: absolute;
    width: 40vmax;
    height: 93px;
    left: 10vmax;
    top: 48vmin;

    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 4vw;

    color: #FFBB55;
}

@media screen and (max-width: 992px) {
    #cfhftomwlap {
        position: absolute;
        top: 65vh;
        left: 0vw;
        width: 100vw;
        text-align: center;
        font-size: 5vw;
        line-height: 4.5vw;
    }
}

#homepage6 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 500vh;
    background-color: #1A0C00;
    overflow: hidden;
}

#lunch {
    position: absolute;
    width: 50vw;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 992px) {
    #lunch {
        position: absolute;
        width: 60vw;
        right: 0vw;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#dah {
    position: absolute;
    width: 30vw;
    height: 10vh;
    right: 0vmax;
    top: 10vmin;

    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 6vw;
    line-height: 96px;
    text-align: center;

    color: #FFBB55;
}

@media screen and (max-width: 992px) {
    #dah {
        top: 50%;
        right: 0%;
        text-align: center;
        width: 100vw;
        font-size: 10vw;
    }
}

#ydntgahfatcoyh {
    position: absolute;
    width: 30vmax;
    height: 93px;
    right: 0vmax;
    top: 48vmin;

    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 4vw;

    color: #FFBB55;
}

@media screen and (max-width: 992px) {
    #ydntgahfatcoyh {
        position: absolute;
        top: 65vh;
        right: 0vw;
        width: 100vw;
        text-align: center;
        font-size: 5vw;
        line-height: 4.5vw;
    }
}

#homepage7 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 600vh;
    background-color: #1A0C00;
    overflow: hidden;
}

#money {
    position: absolute;
    width: 20vw;
    right: 0vw;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 992px) {
    #money {
        position: absolute;
        width: 23vw;
        right: 0vw;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#lc {
    position: absolute;
    width: 50vw;
    height: 10vh;
    left: 10vmax;
    top: 30vmin;

    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 6vw;
    line-height: 96px;

    color: #FFBB55;
}

@media screen and (max-width: 992px) {
    #lc {
        top: 50%;
        left: 0%;
        text-align: center;
        width: 100vw;
        font-size: 10vw;
    }
}

#gdfaacep {
    position: absolute;
    width: 40vmax;
    height: 93px;
    left: 10vmax;
    top: 48vmin;

    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 4vw;

    color: #FFBB55;
}

@media screen and (max-width: 992px) {
    #gdfaacep {
        position: absolute;
        top: 65vh;
        left: 0vw;
        width: 100vw;
        text-align: center;
        font-size: 5vw;
        line-height: 4.5vw;
    }
}

#homepagefooter {
    position: absolute;
    width: 100vw;
    height: 50vh;
    left: 0vw;
    top: 700vh;
    background-color: #1A0C00;
    overflow: hidden;
}

#logofooter {
    position: absolute;
    width: 20vw;
    right: 0vw;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cpright.rectangle {
    position: absolute;
    bottom: 0vh;
    width: 100vw;
    height: 5vh;
    background-color: #d9d9d9;
    text-align: center;

    font-family: 'Montagu Slab';
    font-style: normal;
    font-size: 2vh;
    line-height: 0vw;
    text-transform: translate(-50%, -50%);
    ;
}